html,body {
    height: 100%;
    background: #bbbfc0;
}
#brand{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#gambar-brand{
    width: 100%;
}
.global-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
.login-form {
    width: 380px;
    height: 450px;
    background-color: #70cde5; 
    border: 0px;   
}
#emailHelp{
    color: white;
}
#emailnya{
    margin-bottom: 25px;
}
input[type="email"]{
    background: #3eabc7;
    color: #152636;
    border: 2px solid white;
    border-radius: 10px;
}
input[type="password"]{
    background: #3eabc7;
    color: #152636;
    border: 2px solid white;
    border-radius: 10px;
    margin-bottom: 25px;
}

input[type="email"]:focus,
input[type="password"]:focus{
    outline: none;
    border: none;
    background: #70cde5;
    color: #152636;
}
.card-title{
    font-weight: 900;
    padding-top: 20px;
    padding-bottom: auto;
}
.btn{
    background: white;
    color: #152636;
    transform: translateY(10px);
    font-size: 14px;
    border-radius: 10px;
    border-color: #70cde5;
}